body{
    background: url("../imagebes/70852.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 450px;

}


thead{
background-color: rgb(104, 165, 255);
}

th{
    background-color: rgb(93, 231, 255);
    border: groove 1.5px yellow;
    color: rgb(0, 0, 0);
}

td{
    background-color: rgb(133, 190, 255);
    border: groove 1.5px yellow;
    color: rgb(0, 0, 0);
}